<!-- Validation failure messages -->
<% if @message.errors.any? %>
  <% @message.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Resend Message #<%= @message.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_message/<%= @message.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for item_id -->
      <div class="form-group">
        <img width=500px class="img-responsive" src="<%= @message.item.image %>">
        <label for="item_id" class="control-label">
          Item
        </label>
        <input type="text" id="item_name" name="item_name" placeholder="Item Name" class="form-control" value="<%= @message.item.item_name %>" readonly>
        <input type="hidden" id="item_id" name="item_id" placeholder="Item" class="form-control" value="<%= @message.item_id %>">
      </div>

      <!-- Hidden label and input for recipient_id -->
      <div class="form-group">
        <label for="item_id" class="control-label">
          Recipient
        </label>
        <input type="hidden" id="recipient_id" name="recipient_id" placeholder="Recipient" class="form-control" value="<%= @message.recipient_id %>" readonly>
        <input type="text" id="recipient_name" name="recipient_name" placeholder="Recipient" class="form-control" value="<%= @message.recipient.recipient_name %>" readonly>
      </div>

      <!-- Hidden label and input for user_id -->
        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @message.user_id %>">

      <!-- Label and input for message -->
      <div class="form-group">
        <label for="message" class="control-label">
          Message
        </label>

        <input type="text" id="message" name="message" placeholder="Message" class="form-control" value="<%= @message.message %>" readonly>
      </div>

      <button class="btn btn-warning">
        Click to Resend Message
      </button>
      or
      <a href="/messages/<%= @message.id %>">Cancel</a>
    </form>
  </div>
</div>
