<div class="page-header">
  <h3>Item #<%= @item.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <!-- <dt>User</dt>
      <dd><%= @item.user_id %></dd> -->

      <dt>Image</dt>
      <dd><img width=500px class="img-responsive" src="<%= @item.image %>"></dd>

      <dt>Location</dt>
      <dd><%= @item.location %></dd>

      <dt>Item name</dt>
      <dd><%= @item.item_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/items" class="btn btn-primary">
        Back
      </a>
      <a href="/items/<%= @item.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_item/<%= @item.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>

    <li class="list-group-item list-group-item-success">
      Share this item
    </li>
    <li class="list-group-item">
      <form action="/create_message" method="post">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
        <input name="item_id" type="hidden" value="<%= @item.id %>">
        <div class="form-group">
          <label for="recipient_id" class="control-label">
            Recipient
          </label>
          <%= select_tag(:recipient_id, options_from_collection_for_select(Recipient.all, :id, :recipient_name), :class => "form-control") %>
          <p class="help-block">
            <a href="/recipients/new">or add a new recipient</a>
          </p>
        </div>
        <div class="form-group">
          <label for="message" class="control-label">
            Message
          </label>
          <input type="text" id="message" name="message" placeholder="Message" class="form-control">
        </div>
        <button class="btn btn-success">
          Send Message
        </button>
      </form>
    </li>
  </div>
</div>
